*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  background-color: #7043DB ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  height: 100vh;
  padding: 2.4rem;
  line-height: 1.5;
  gap: 2.4rem;
}

#level-title {
  font-size: 3.6rem;
  color: white;
}
h2{
  font-size: 2.4rem;
  color: white;
  }
p{
  font-size: 1.6rem;
  color: white;
}
.container {
  background: #FFFFFF;
  padding: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1.6rem;
  width: clamp(280px, 100%, 600px);
  height: clamp(280px, 60%, 600px); 
}
.container {
  /* Prevent text selection on all browsers */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */

  /* Optional: Disable highlighting for touch devices */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* For iOS Safari */
}

.container:hover{
  cursor: pointer;
}


.game-over {
  background-color: #F35325;
  opacity: 0.8;
}
.win {
  background-color: #81BC06;
  opacity: 0.8;
}

.red {
  background-color: #F35325;
}

.green {
  background-color: #81BC06;
}

.blue {
  background-color: #05A6F0;
}

.yellow {
  background-color: #FFBA08;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: hsl(25, 97%, 53%);
}
@media (max-width:500px) {
  
  .container{
    padding: 1rem;
    gap: 1rem;
    height: clamp(300px, 60%, 400px); 
  }
  #level-title {
    font-size: 2.8rem;
    color: white;
  }
  h2{
    font-size: 1.8rem;
    color: white;
    }
  p{
    font-size: 1.4rem;
    color: white;
  }
}
@media (max-width:375px) {
  .container{
    padding: 1rem;
    gap: 1rem;
  }
  #level-title {
    font-size: 2.4rem;
    color: white;
  }
  h2{
    font-size: 1.8rem;
    color: white;
    }
  p{
    font-size: 1.6rem;
    color: white;
  }
}
